<% include ./components/header %>

<div class='kk-container'>

	<h1>Admin Page</h1>

	<p>There are currently <%= users.length %> people registered for this Kris Kringle:</p>
	
	<table class="table" id="userTable">
		<% for(var i = 0; i < users.length; i++) { %>
			<tr>
				<td><%= users[i].name %></td>
			</tr>
		<% } %>
	</table>

	<form action="/admin" method="post" class="register-form">
		<button type="submit">Allocate Kringlers</button>
	</form>

</div>

<% include ./components/footer %>