<% include ./components/header %>

<a href="/login/facebook" class='btn btn-default btn-social btn-facebook'><span class="fa fa-facebook"></span> Login with Facebook </a>

<% include ./components/footer %>