<% include ./components/header %>
<div class="panel panel-default">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 text-center">

			<h1>Sign in to Kringler</h1>
			<h4>And get to Kringling!</h4>

			<p>Seriously though if you want to be a Kringler we need to know your name.</p>

			<a href="/login/facebook" class='btn btn-social btn-facebook'><span class="fa fa-facebook"></span> Login with Facebook </a>
			
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<% include ./components/footer %>