body {
	padding-top: 50px;
}

div.kk-container {
	padding: 50px;
}

div.fb-like {
	position: absolute;
}

.errorText {
	color: #FF0000;
}

#userTable {
	width: 100px;
	max-height: 100px;
	overflow: scroll;
}